* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Bungee', cursive;
}
p {
  text-align: center;
  background: rgb(173, 216, 230);
  font-size: 1em;
  height: 5vh;
  width: 100vw;
}
.image {
  background-image: url('../assets/images/night.jpg');
  height: 95vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cat {
  background-image: url('../assets/images/kitten-small.png');
  height: 44vh;
  background-position: center;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  top: 48vh;
}
@media (min-width: 728px) {
  p {
    background: salmon;
  }
  .image {
    background-image: url('../assets/images/dawn.png');
  }
  .cat {
    background-image: url('../assets/images/kitten-large.png');
  }
}
@media (min-width: 992px) {
  p {
    background: yellow;
    font-size: 1.5em;
    height: 7vh;    
  }
  .image {
    height: 93vh;    
    background-image: url('../assets/images/sunny-day.jpg');
  }
  .cat {
    background-image: url('../assets/images/kitten-medium.png');
  }
}



